.body{
    text-align: center;
    background-color: rgba(41, 40, 40, 0.219);
}

.header1{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
}

table, 
tr,
td{
    border: 1px solid black ;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
}

tr{
    width: 20px;
}

td{
    height: 20px;
}